services:
  postgres:
    container_name: postgres
    image: postgres:17
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - ${POSTGRES_PORT}:5432
    volumes:
      - ./data_source/postgres:/docker-entrypoint-initdb.d
      - ./data_source/kaggle_dataset:/kaggle_dataset
      - postgres:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}']
      interval: 10s
      timeout: 8s
      retries: 5

  clickhouse-01:
    image: "clickhouse/clickhouse-server:25.11"
    user: "101:101"
    container_name: clickhouse-01
    hostname: clickhouse-01
    volumes:
      - ./data_platform/clickhouse/fs/volumes/clickhouse-01/etc/clickhouse-server/config.d/config.xml:/etc/clickhouse-server/config.d/config.xml
      - ./data_platform/clickhouse/fs/volumes/clickhouse-01/etc/clickhouse-server/users.d/users.xml:/etc/clickhouse-server/users.d/users.xml
      - ./data_source/clickhouse:/docker-entrypoint-initdb.d/
    ports:
      - 8123:8123
      - 9000:9000
    depends_on:
      clickhouse-keeper-01:
        condition: service_healthy
      clickhouse-keeper-02:
        condition: service_healthy
      clickhouse-keeper-03:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "clickhouse-client", "--query", "SELECT 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

  clickhouse-02:
    image: "clickhouse/clickhouse-server:25.11"
    user: "101:101"
    container_name: clickhouse-02
    hostname: clickhouse-02
    volumes:
      - ./data_platform/clickhouse/fs/volumes/clickhouse-02/etc/clickhouse-server/config.d/config.xml:/etc/clickhouse-server/config.d/config.xml
      - ./data_platform/clickhouse/fs/volumes/clickhouse-02/etc/clickhouse-server/users.d/users.xml:/etc/clickhouse-server/users.d/users.xml
    ports:
      - 8124:8123
      - 9001:9000
    depends_on:
      clickhouse-keeper-01:
        condition: service_healthy
      clickhouse-keeper-02:
        condition: service_healthy
      clickhouse-keeper-03:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "clickhouse-client", "--query", "SELECT 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

  clickhouse-03:
    image: "clickhouse/clickhouse-server:25.11"
    user: "101:101"
    container_name: clickhouse-03
    hostname: clickhouse-03
    volumes:
      - ./data_platform/clickhouse/fs/volumes/clickhouse-03/etc/clickhouse-server/config.d/config.xml:/etc/clickhouse-server/config.d/config.xml
      - ./data_platform/clickhouse/fs/volumes/clickhouse-03/etc/clickhouse-server/users.d/users.xml:/etc/clickhouse-server/users.d/users.xml
    ports:
      - 8125:8123
      - 9002:9000
    depends_on:
      clickhouse-keeper-01:
        condition: service_healthy
      clickhouse-keeper-02:
        condition: service_healthy
      clickhouse-keeper-03:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "clickhouse-client", "--query", "SELECT 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

  clickhouse-04:
    image: "clickhouse/clickhouse-server:25.11"
    user: "101:101"
    container_name: clickhouse-04
    hostname: clickhouse-04
    volumes:
      - ./data_platform/clickhouse/fs/volumes/clickhouse-04/etc/clickhouse-server/config.d/config.xml:/etc/clickhouse-server/config.d/config.xml
      - ./data_platform/clickhouse/fs/volumes/clickhouse-04/etc/clickhouse-server/users.d/users.xml:/etc/clickhouse-server/users.d/users.xml
    ports:
      - 8126:8123
      - 9003:9000
    depends_on:
      clickhouse-keeper-01:
        condition: service_healthy
      clickhouse-keeper-02:
        condition: service_healthy
      clickhouse-keeper-03:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "clickhouse-client", "--query", "SELECT 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

  clickhouse-keeper-01:
    image: "clickhouse/clickhouse-keeper:25.11"
    user: "101:101"
    container_name: clickhouse-keeper-01
    hostname: clickhouse-keeper-01
    volumes:
      - ./data_platform/clickhouse/fs/volumes/clickhouse-keeper-01/etc/clickhouse-keeper/keeper_config.xml:/etc/clickhouse-keeper/keeper_config.xml
    ports:
      - 9181:9181
    healthcheck:
      test: ["CMD-SHELL", "echo ruok | nc 127.0.0.1 9181 | grep imok"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s

  clickhouse-keeper-02:
    image: "clickhouse/clickhouse-keeper:25.11"
    user: "101:101"
    container_name: clickhouse-keeper-02
    hostname: clickhouse-keeper-02
    volumes:
      - ./data_platform/clickhouse/fs/volumes/clickhouse-keeper-02/etc/clickhouse-keeper/keeper_config.xml:/etc/clickhouse-keeper/keeper_config.xml
    ports:
      - 9182:9181
    healthcheck:
      test: ["CMD-SHELL", "echo ruok | nc 127.0.0.1 9181 | grep imok"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s

  clickhouse-keeper-03:
    image: "clickhouse/clickhouse-keeper:25.11"
    user: "101:101"
    container_name: clickhouse-keeper-03
    hostname: clickhouse-keeper-03
    volumes:
      - ./data_platform/clickhouse/fs/volumes/clickhouse-keeper-03/etc/clickhouse-keeper/keeper_config.xml:/etc/clickhouse-keeper/keeper_config.xml
    ports:
      - 9183:9181
    healthcheck:
      test: ["CMD-SHELL", "echo ruok | nc 127.0.0.1 9181 | grep imok"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s

  kafka-controller-01:
    image: apache/kafka:4.1.1
    hostname: kafka-controller-01
    container_name: kafka-controller-01
    environment:
      CLUSTER_ID: '4L6g3nShT-eMCtK--X86sw'
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: 'controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka-controller-01:9093,2@kafka-controller-02:9093,3@kafka-controller-03:9093'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT'
      KAFKA_LISTENERS: 'CONTROLLER://:9093'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_LOG_DIRS: '/var/lib/kafka/data'
    volumes:
      - kafka-controller-01:/var/lib/kafka/data
    depends_on:
      clickhouse-01:
        condition: service_healthy
      clickhouse-02:
        condition: service_healthy
      clickhouse-03:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 9093 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  kafka-controller-02:
    image: apache/kafka:4.1.1
    hostname: kafka-controller-02
    container_name: kafka-controller-02
    environment:
      CLUSTER_ID: '4L6g3nShT-eMCtK--X86sw'
      KAFKA_NODE_ID: 2
      KAFKA_PROCESS_ROLES: 'controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka-controller-01:9093,2@kafka-controller-02:9093,3@kafka-controller-03:9093'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT'
      KAFKA_LISTENERS: 'CONTROLLER://:9093'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_LOG_DIRS: '/var/lib/kafka/data'
    volumes:
      - kafka-controller-02:/var/lib/kafka/data
    depends_on:
      clickhouse-01:
        condition: service_healthy
      clickhouse-02:
        condition: service_healthy
      clickhouse-03:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 9093 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  kafka-controller-03:
    image: apache/kafka:4.1.1
    hostname: kafka-controller-03
    container_name: kafka-controller-03
    environment:
      CLUSTER_ID: '4L6g3nShT-eMCtK--X86sw'
      KAFKA_NODE_ID: 3
      KAFKA_PROCESS_ROLES: 'controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka-controller-01:9093,2@kafka-controller-02:9093,3@kafka-controller-03:9093'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT'
      KAFKA_LISTENERS: 'CONTROLLER://:9093'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_LOG_DIRS: '/var/lib/kafka/data'
    volumes:
      - kafka-controller-03:/var/lib/kafka/data
    depends_on:
      clickhouse-01:
        condition: service_healthy
      clickhouse-02:
        condition: service_healthy
      clickhouse-03:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 9093 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  kafka-broker-01:
    image: apache/kafka:4.1.1
    hostname: kafka-broker-01
    container_name: kafka-broker-01
    ports:
      - 29092:9092
    environment:
      CLUSTER_ID: '4L6g3nShT-eMCtK--X86sw'
      KAFKA_NODE_ID: 4
      KAFKA_PROCESS_ROLES: 'broker'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka-controller-01:9093,2@kafka-controller-02:9093,3@kafka-controller-03:9093'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT'
      KAFKA_LISTENERS: 'PLAINTEXT://:19092,PLAINTEXT_HOST://:9092'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka-broker-01:19092,PLAINTEXT_HOST://localhost:29092'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_LOG_DIRS: '/var/lib/kafka/data'
    volumes:
      - kafka-broker-01:/var/lib/kafka/data
    depends_on:
      kafka-controller-01:
        condition: service_healthy
      kafka-controller-02:
        condition: service_healthy
      kafka-controller-03:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "/opt/kafka/bin/kafka-cluster.sh cluster-id --bootstrap-server localhost:19092 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  kafka-broker-02:
    image: apache/kafka:4.1.1
    hostname: kafka-broker-02
    container_name: kafka-broker-02
    ports:
      - 39092:9092
    environment:
      CLUSTER_ID: '4L6g3nShT-eMCtK--X86sw'
      KAFKA_NODE_ID: 5
      KAFKA_PROCESS_ROLES: 'broker'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka-controller-01:9093,2@kafka-controller-02:9093,3@kafka-controller-03:9093'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT'
      KAFKA_LISTENERS: 'PLAINTEXT://:19092,PLAINTEXT_HOST://:9092'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka-broker-02:19092,PLAINTEXT_HOST://localhost:39092'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_LOG_DIRS: '/var/lib/kafka/data'
    volumes:
      - kafka-broker-02:/var/lib/kafka/data
    depends_on:
      kafka-controller-01:
        condition: service_healthy
      kafka-controller-02:
        condition: service_healthy
      kafka-controller-03:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "/opt/kafka/bin/kafka-cluster.sh cluster-id --bootstrap-server localhost:19092 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  kafka-broker-03:
    image: apache/kafka:4.1.1
    hostname: kafka-broker-03
    container_name: kafka-broker-03
    ports:
      - 49092:9092
    environment:
      CLUSTER_ID: '4L6g3nShT-eMCtK--X86sw'
      KAFKA_NODE_ID: 6
      KAFKA_PROCESS_ROLES: 'broker'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka-controller-01:9093,2@kafka-controller-02:9093,3@kafka-controller-03:9093'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_LISTENERS: 'PLAINTEXT://:19092,PLAINTEXT_HOST://:9092'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka-broker-03:19092,PLAINTEXT_HOST://localhost:49092'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_LOG_DIRS: '/var/lib/kafka/data'
    volumes:
      - kafka-broker-03:/var/lib/kafka/data
    depends_on:
      kafka-controller-01:
        condition: service_healthy
      kafka-controller-02:
        condition: service_healthy
      kafka-controller-03:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "/opt/kafka/bin/kafka-cluster.sh cluster-id --bootstrap-server localhost:19092 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  kafka-connect:
    image: apache/kafka:4.1.1
    hostname: kafka-connect
    container_name: kafka-connect
    ports:
      - 8083:8083
    volumes:
      - ./data_platform/kafka_connect/config/connect-distributed.properties:/opt/kafka/config/connect-distributed.properties
      - ./data_platform/kafka_connect/plugins:/opt/connectors
    command: >
      bash -c "/opt/kafka/bin/connect-distributed.sh /opt/kafka/config/connect-distributed.properties"
    depends_on:
      kafka-controller-01:
        condition: service_healthy
      kafka-controller-02:
        condition: service_healthy
      kafka-controller-03:
        condition: service_healthy
    healthcheck:
      test:
        ["CMD-SHELL", "printf 'GET / HTTP/1.1\r\nHost: localhost\r\n\r\n' | nc localhost 8083 | grep -q '200 OK'"]
      interval: 10s
      timeout: 5s
      retries: 6
      start_period: 30s
  
  kafka-init:
    image: apache/kafka:4.1.1
    command: >
      bash -c "chmod +x /create_topic.sh && /create_topic.sh"
    volumes:
      - ./data_source/kafka_producer/create_topic.sh:/create_topic.sh
    depends_on:
      kafka-broker-01:
        condition: service_healthy
      kafka-broker-02:
        condition: service_healthy
      kafka-broker-03:
        condition: service_healthy

  kafka-connect-init:
    image: curlimages/curl:8.17.0
    hostname: kafka-connect-init
    container_name: kkafka-connect-init
    volumes:
      - ./data_source/kafka_connect/clickhouse_conn.json:/clickhouse_conn.json
    command: >
      sh -c "
        echo 'Waiting for Kafka Connect to be ready...';
        while [ $(curl -s -o /dev/null -w %{http_code} http://kafka-connect:8083/connectors) -ne 200 ]; do
          sleep 5;
        done;
        echo 'Kafka Connect is up! Registering ClickHouse Connector...';
        curl -X POST -H 'Content-Type: application/json' --data @/clickhouse_conn.json http://kafka-connect:8083/connectors;
        echo 'Done!'
      "
    depends_on:
      kafka-connect:
        condition: service_healthy
      kafka-init:
        condition: service_completed_successfully

  kafka-console:
    image: docker.redpanda.com/redpandadata/console:v3.4.0
    hostname: kafka-console
    container_name: kafka-console
    ports:
      - 8080:8080
    environment:
      CONFIG_FILEPATH: /tmp/config/kafka-console-config.yml
    volumes:
      - ./data_platform/kafka_console/kafka-console-config.yml:/tmp/config/kafka-console-config.yml:ro
    depends_on:
      kafka-broker-01:
        condition: service_healthy
      kafka-broker-02:
        condition: service_healthy
      kafka-broker-03:
        condition: service_healthy
      kafka-connect:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "wget --quiet --tries=1 --spider http://localhost:8080/admin/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s

volumes:
  postgres:
  kafka-controller-01:
  kafka-controller-02:
  kafka-controller-03:
  kafka-broker-01:
  kafka-broker-02:
  kafka-broker-03:
